# Environment
ENV=DEV

# Application
APP_PORT=3001

# CORS
CORS_ORIGIN=http://127.0.0.1:3000

# Rate Limit
RL_GENERAL_MIN=15
RL_GENERAL_NREQ=500
RL_AUTH_MIN=10
RL_AUTH_NREQ=10

# Login Attempts
LA_MAX_ATTEMPTS=5
LA_LOCK_TIME=30

# MongoDB
# Priority: if MONGODB_URI is set, other MONGODB_* variables will be ignored.
MONGODB_URI=
MONGODB_USER=admin
MONGODB_PASSWORD=admin
MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_DATABASE=geopark
MONGODB_AUTH_SOURCE=admin

# JWT
JWT_SECRET=set_a_secure_512_character_secret
JWT_EXPIRES_IN=1d
